* {
  box-sizing: border-box;
}
html, body {
  color: #6f6f6e;
  padding: 0;
  margin: 0;
}
body {
  background: #fffafa;
  overflow-x: hidden;
}

h1, h2 {
  color: #b5b9c3;
  font-size: 3em;
  font-weight: 500;
}
h2 {
  font-size: 2em;
}
a:link, a:hover, a:active, a:focus, a:visited {
  color: #c54949;
}
a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
}
.container {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 95vw;
}
.top-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#pomodoro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-col-cen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-row-cen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.screen-filling-el {
  width: 100%;
  height: 100vh;
}
div.timer {
  max-width: 700px;
  width: 100%;
}
.top-timer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 80%;
  padding: 4rem;
  background-color: #ff5d5d;
  color: white;
  border-radius: 10px;
  transition: all .5s;
  border: 3px solid #ca4646;
  box-shadow: 0 0 20px #c54949, 0 22px 41px -15px #000, inset 0 0 200px #c54949;
}
.timeleft {
  display: block;
  margin: 0 auto;
  font-size: 6rem;
  padding: 0 2rem;
}
@media only screen and (max-width: 720px) {
  header {
    padding: 1rem;
  }
  .flex-col-cen, .flex-row-cen {
    font-size: 0.8rem;
  }
  .top-timer {
    width: 95%;
    padding: 2rem 1rem;
  }
  .timeleft {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 340px) {
  .flex-col-cen, .flex-row-cen {
    font-size: 0.8rem;
  }
  .timeleft {
    font-size: 3.5rem;
  }
  .controls button {
    font-size: .7rem;
  }
}
button.set-timer, button.stop-timer, button.clear-timer {
  background-color: transparent;
  border: 1px solid white;
  padding: 0.5em 2em;
  transition: all 0.2s;
  color: white;
  border-radius: 3px;
}
button.set-timer:active {
  transform: translateY(2px);
}
.pomodoro {
  margin: 0;
  text-align: center;
  max-width: 750px;
  padding: 3em;
  color: #6f6f6e;
  border-top: 2px solid #b4b4b4;
}
.pomodoro h1 {
  font-size: 3em;
  font-weight: 500;
  color: #b5b9c3;
}
.pomodoro h2 {
  font-size: 2.5em;
  color: darkgrey;
}
.pomodoro h2 span {
  color: #FD4E4D;
}
.pomodoro div {
  padding: 0 0 25px;
  border-bottom: 1px dashed darkgrey;
}
.denied {
  transition: all .5s;
  margin: 0;
  font-size: .8em;
  height: auto;
}
.hide {
  height: 0;
  opacity: 0;
}

footer {
  background-color: lightcoral;
  color: white;
  width: 100vw;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;  
}
footer a:link, footer a:visited, footer a:active {
  color: white;
}